.Toolbar ul {
    margin: 0;
    border-bottom: 1px solid black;
    text-align: center;
}

.Toolbar ul li {
    list-style: none;
    display: inline-block;
}

.Toolbar ul li a {
    padding: 10px;
    text-decoration: none;
}

.Toolbar ul li a.active {
    display: inline-block;
    color: red;
}